body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
    
nav {
    background-color: #f4f3f3;;
    display: flex;
    height: 7vh;
}

.nav-left {
    display: flex;
    padding-left: 90px;
    align-items: center;
    flex: 50%;  /* untuk mengatur lebar */
}

.nav-left li {
    display: inline;
}

.nav-left ul {
    display: flex;
    /* align-items: center; */
}

.nav-left ul li a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

.nav-right {
    /* background-color: red; */
    display: flex;
    flex: 50%;
    align-items: center; /* untuk mengtaur posisi atas tengah bawah */
    justify-content: flex-end; /* untuk mengtaur posisi kiri tengah kanan */
    padding-right: 100px;
}

.nav-right a {
    background-color: rgb(27, 16, 54);
    color: white;
    padding: px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-family:'Segoe UI';
}

form {
    margin: 90px auto;
    width: 350px;
    padding: 10px;
    /* background-color: red; */
}

form div {
    margin-top: 15px;
}

form label {
    font-weight:100;
    font-size:20px;
    font-family:'poppins',sans-serif;
}

form input, select, textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 0px 0px 18px rgb(214, 213, 213);
}

form button {
    background-color: rgb(27, 16, 54);
    color: white;
    margin-top: 10px;
    padding: 8px 30px; /* atas bawah */ 
    border: none;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.Submit{
    display: flex;
    padding: 10px auto;
    justify-content:flex-end;
    align-items: center;
}